<!DOCTYPE html>
<html lang="en">
  <%- include("./partial/head.ejs") %>
  <body>
    <%- include("./partial/nav.ejs") %>

    <div class="about content">
      <h2>All Blogs</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Exercitationem, ipsa distinctio hic aut eum incidunt eius porro dicta
        facere illum. Illum nostrum vero ad. Cupiditate, perferendis! Voluptate,
        ut. Sapiente, omnis!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Exercitationem, ipsa distinctio hic aut eum incidunt eius porro dicta
        facere illum. Illum nostrum vero ad. Cupiditate, perferendis! Voluptate,
        ut. Sapiente, omnis!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Exercitationem, ipsa distinctio hic aut eum incidunt eius porro dicta
        facere illum. Illum nostrum vero ad. Cupiditate, perferendis! Voluptate,
        ut. Sapiente, omnis!
      </p>
    </div>

    <%- include("./partial/footer.ejs") %>
  </body>
</html>
