<nav>
  <div class="site-title">
    <a href="/"><h1>justCode Blog</h1></a>
    <p>Justcode blog site by Ravi</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Create Blogs</a></li>
  </ul>
</nav>
